.shop-img img{
    width: 80%;
}
.secondary-btn{
    background:rgba(100, 148, 237, 0.253);
    color:darkblue;
    font-weight: 700;
    display: none;
}
.bottles-item{
    transition: all 0.6s ease;
}
.bottles-item:hover .secondary-btn{
    display: block;
}
.item-info{
    display: flex;
    transition: all 0.6s ease;
}
.bottles-item:hover .item-info{
    display: none;
}