.header{
    background:url('https://i.ibb.co/H27zF5R/1936-desktop-bg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2%;
    padding-left: 20%;
    color:#fff;
    height: 80vh;
}